<template>
  <div class="container">
    <div class="home-page">
      <sidebar :chats="activeChats" v-on:findChat="enterChat" />
      <chat v-if="activeChats.length" v-for="chat in activeChats" :chat="chat" :key="chat.id" v-show="activeChat.id===chat.id" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import Sidebar from '../components/Sidebar';
import Chat from '../components/Chat';

const people = [localStorage.getItem("match-chat")];

export default {
  name: 'home-page',
  components: {
    Sidebar,
    Chat
  },
  data() {
    return {
      activeChats: []
    };
  },
  computed: {
    ...mapState({
      user: state => ({ ...state.user }),
      activeChat: state => state.activeChat
    })
  },
  async created() {
    await this.getUserDetails();
  },
  methods: {
    async enterChat() {
      const chatRequest = await this.$http.get('/users/' + this.user.username + '/chat');
      await this.activeChats.push(chatRequest.data);
      this.$socket.emit('join chat', chatRequest.data.id)
      this.$store.dispatch('changeActiveChat', chatRequest.data);
    },
    async getUserDetails() {
      const randomUsername = people[Math.floor(Math.random() * people.length)];
      const userRequest = await this.$http.get('/users/' + randomUsername);
      const activeChatsRequest = await this.$http.get('/users/' + randomUsername + '/chats');

      const { username, name, lastname, gender } = userRequest.data;
      const activeChats = activeChatsRequest.data;

      const newUserState = { username, name, lastname, gender, preferredGender: gender == 0 ? 1 : 0 };
      this.$store.dispatch('user/setUserState', newUserState);
      if (activeChats.length) {
        this.activeChats = activeChats;
        this.$store.dispatch('changeActiveChat', activeChats[0]);
      }
    }
  }
};
</script>

<style lang="scss">
.home-page {
  display: flex;
  align-items: flex-start;
}
</style>

