<template>
  <div class="chat">
    <message v-for="message in messages" :key="message.id" :message="message" />
    <input v-model="inputMessage" type="text" placeholder="message" @submit="sendMessage" @keydown.enter="sendMessage">
  </div>
</template>

<script>
import uuidv4 from 'uuid/v4';
import axios from 'axios';
import { mapState } from 'vuex';

import Message from './Message';
import { setInterval } from 'timers';

export default {
  name: 'chat',
  components: {
    Message
  },
  props: {
    chat: Object
  },
  data() {
    return {
      messages: [],
      inputMessage: ''
    };
  },
  computed: {
    ...mapState({
      username: state => state.user.username
    }),
    to() {
      if (this.username === this.chat.username1) {
        return this.chat.username2 ? this.chat.username2 : undefined;
      } else {
        return this.chat.username1;
      }
    }
  },
  async created() {
    await this.getMessages();
    this.$socket.on('private message', messageObject => {
      if (messageObject.chatId === this.chat.id) this.messages.push(messageObject);
    });
  },
  methods: {
    async getMessages() {
      const messagesRequest = await axios.post('/chat/messages', { chatId: this.chat.id });
      this.$socket.emit('join chat', this.chat.id);
      this.messages = messagesRequest.data;
    },
    async sendMessage() {
      if (!this.to) {
        console.log('Noone here');
      } else {
        const messageId = uuidv4();
        const messageInfo = {
          id: messageId,
          chatId: this.chat.id,
          message: this.inputMessage,
          from: this.username,
          to: this.to
        };
        this.$socket.emit('chat message', messageInfo);
        const messageRequest = await this.$http.post('/chat/messages/new', messageInfo);

        if (!messageRequest.data.error) {
          this.messages.push(messageInfo);
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.chat {
  margin: 1em;
  background: white;
  border-radius: 2px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
</style>
