<template>
  <div class="chat-message" :class="{self: self}">
    {{message.message}}
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'message',
  props: {
    message: Object
  },
  computed: {
    ...mapState({
      username: state => state.user.username
    }),
    self() {
      return this.message.from === this.username;
    }
  }
};
</script>

<style lang="scss">
.chat-message {
  background: #1ea8aa;
  color: white;
  margin-bottom: 1.5em;
  padding: 0.5em;
  border-radius: 4px;
  align-self: flex-end;

  &.self {
    align-self: flex-start;
  }
}
</style>
