<template>
  <div class="sidebar">
    <sidebar-item v-for="chat in chats" :key="chat.Id" :chat="chat" />
    <button @click="emitfindChat">Find Chat</button>
  </div>
</template>

<script>
import SidebarItem from './SidebarItem'

export default {
  name: 'sidebar',
  components: {
    SidebarItem
  },
  props: {
    chats: Array
  },
  methods: {
    emitfindChat() {
      this.$emit('findChat');
    }
  }
}
</script>

<style lang="scss">
.sidebar {
  margin: 1em;
  background: white;
  border-radius: 2px;
}
</style>

