<template>
  <div class="sidebar-item" :class="{active: active}" @click="changeActiveChat">
    {{ to }}
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'sidebar-item',
  props: {
    chat: Object
  },
  computed: {
    ...mapState({
      username: state => state.user.username,
      activeChat: state => state.activeChat
    }),
    to() {
      if (this.username === this.chat.username1) {
        return this.chat.username2 ? this.chat.username2 : 'Searching for someone...';
      } else {
        return this.chat.username1;
      }
    },
    active() {
      return this.activeChat.id == this.chat.id
    }
  },
  methods: {
    changeActiveChat() {
      this.$store.dispatch('changeActiveChat', this.chat);
    }
  }
};
</script>

<style lang="scss">
.sidebar-item {
  border-bottom: 1px solid gray;
  padding: 1em;

  &:last-of-type {
    border-bottom: none;
  }

  &:hover {
    cursor: pointer;
    background: darken($color: white, $amount: 5)
  }

  &.active {
    background: darken($color: white, $amount: 10)    
  }
}
</style>

