<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import 'normalize.css/normalize.css';
import 'bulma/css/bulma.min.css';

export default {
  name: 'app'
}
</script>


<style lang="scss">
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

html,body, #app, .page {
  min-height: 100vh;
  background: #1ea8aa;
}
</style>
